

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.custom-file-input {
    position: absolute;
    width: 100%;
    height: 2.5rem;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 2.5rem;
    padding: .5rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    cursor: pointer;
}

.custom-file-label::after {
    content: "Seleccione";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 2.5rem;
    padding: .5rem .75rem;
    line-height: 1.5;
    color: #fff;
    background-color: #6c757d;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Browse";
}

.custom-file-input:focus ~ .custom-file-label {
    border-color: #80bdff;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.custom-file-input:focus ~ .custom-file-label::after {
    border-color: inherit;
    box-shadow: none;
}

.custom-file-input::file-selector-button {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}